In [9]:
import pandas as pd

df = pd.read_excel('2014_10_11_Bkat_o_CR_beginnt_alle (2).xlsx', sheet_name='alle')

In [10]:
df.columns

Index(['Titel_Autor', 'Autorenvorname', 'RASignatur', 'Beginnt mit',
       'Volltext'],
      dtype='object')

In [11]:

chunk = df.shape[0] // 10
chunk

for i in range(10):
    start = i * chunk
    end = (i + 1) * chunk if i < 9 else df.shape[0]
    df_chunk = df.iloc[start:end]
    print(df_chunk.shape)
    df_chunk.to_csv(f"chunk_{i}.csv", index=False)

(3018, 5)
(3018, 5)
(3018, 5)
(3018, 5)
(3018, 5)
(3018, 5)
(3018, 5)
(3018, 5)
(3018, 5)
(3027, 5)

In [2]:
import pandas as pd

# Create a DataFrame with numbers from 1 to 3018
index = pd.DataFrame({'id': range(1, 3019)})

In [28]:
import  pandas as pd

df = pd.read_csv("Voltext_rows.csv")
df['field_id'].min()

np.int64(1)

In [9]:
files_names

['chunk_4',
 'chunk_8',
 'chunk_7',
 'chunk_3',
 'chunk_9',
 'chunk_2',
 'chunk_1',
 'chunk_0',
 'chunk_6',
 'chunk_5']

In [10]:
import pandas as pd

# Create a DataFrame with numbers from 1 to 3018
missing = pd.DataFrame(columns=['file', 'id'])

In [13]:
index.dtypes

id    int64
dtype: object

In [66]:
import pandas as pd

files_names = list(df['file'].unique())
files_names.remove('chunk_9')  # remove the main file if present

all_missing = []  # list to collect missing dfs
index = pd.DataFrame({'id': range(1, 3019)})
for file in files_names:
    df_file = df[df['file'] == file]
    missing_ids = index[~index['id'].isin(df_file['field_id'])].copy()
    missing_ids['file'] = file
    all_missing.append(missing_ids)
    
import pandas as pd

# Create a DataFrame with numbers from 1 to 3018
index = pd.DataFrame({'id': range(1, 3028)})
df_file = df[df['file'] == "chunk_9"]
missing_ids = index[~index['id'].isin(df_file['field_id'])].copy()
missing_ids['file'] = "chunk_9"
all_missing.append(missing_ids)

# concatenate all missing IDs into one DataFrame
missing = pd.concat(all_missing, ignore_index=True)

missing

       id     file
0     100  chunk_4
1     544  chunk_4
2    1241  chunk_4
3    1242  chunk_4
4    1244  chunk_4
..    ...      ...
978  2849  chunk_9
979  2855  chunk_9
980  2885  chunk_9
981  2887  chunk_9
982  2897  chunk_9

[983 rows x 2 columns]

In [67]:
missing.sort_values(by=['file', 'id'], inplace=True)
missing.reset_index(drop=True, inplace=True)
missing['file']= missing['file']+".csv"
missing
missing.to_csv("missing_ids.csv", index=False)

In [68]:
missing

       id         file
0      64  chunk_0.csv
1     831  chunk_0.csv
2    1262  chunk_0.csv
3    1264  chunk_0.csv
4    1266  chunk_0.csv
..    ...          ...
978  2849  chunk_9.csv
979  2855  chunk_9.csv
980  2885  chunk_9.csv
981  2887  chunk_9.csv
982  2897  chunk_9.csv

[983 rows x 2 columns]

In [43]:
import os

# Suppose your base directory is:
base_dir = os.getcwd()  # or specify your directory path here
base_dir

# Join base_dir with each file name in df['file']
file_paths = [os.path.join(base_dir, fname) for fname in df['file'].unique()]
file_paths.sort()
file_paths

['d:\\data wrangling\\Column Cleaning\\chunk_0',
 'd:\\data wrangling\\Column Cleaning\\chunk_1',
 'd:\\data wrangling\\Column Cleaning\\chunk_2',
 'd:\\data wrangling\\Column Cleaning\\chunk_3',
 'd:\\data wrangling\\Column Cleaning\\chunk_4',
 'd:\\data wrangling\\Column Cleaning\\chunk_5',
 'd:\\data wrangling\\Column Cleaning\\chunk_6',
 'd:\\data wrangling\\Column Cleaning\\chunk_7',
 'd:\\data wrangling\\Column Cleaning\\chunk_8',
 'd:\\data wrangling\\Column Cleaning\\chunk_9']

In [48]:
import  pandas as pd

df = pd.read_csv("Voltext_rows.csv")
df['field_id'].min()

np.int64(1)

In [49]:
missing

       id         file
0      63  chunk_0.csv
1     830  chunk_0.csv
2    1261  chunk_0.csv
3    1263  chunk_0.csv
4    1265  chunk_0.csv
..    ...          ...
978  2848  chunk_9.csv
979  2854  chunk_9.csv
980  2884  chunk_9.csv
981  2886  chunk_9.csv
982  2896  chunk_9.csv

[983 rows x 2 columns]

In [63]:
i = pd.read_csv("chunk_6.csv")
i['index']=i.index
i.dtypes

Titel_Autor       object
Autorenvorname    object
RASignatur        object
Beginnt mit       object
Volltext          object
index              int64
dtype: object

In [72]:
missing_rows = []
for i in file_paths:
    file = (i.split('\\')[-1])+'.csv'
    print(file)
    df_chunk = pd.read_csv(r"{}".format(i+'.csv'))
    print('df_chunk shape:', df_chunk.shape)
    df_chunk['index']=df_chunk.index + 1
    
    df_missing = missing[missing['file']==file]
    print('df is:', df_missing)
  # ðŸ”‘ inner join
    df_joined = df_chunk.merge(df_missing, left_on='index', right_on='id', how='inner')
    print(df_joined.shape)
    missing_rows.append(df_joined)
final_missing = pd.concat(missing_rows, ignore_index=True)
final_missing

chunk_0.csv
df_chunk shape: (3018, 5)
df is:        id         file
0      64  chunk_0.csv
1     831  chunk_0.csv
2    1262  chunk_0.csv
3    1264  chunk_0.csv
4    1266  chunk_0.csv
..    ...          ...
102  2809  chunk_0.csv
103  2819  chunk_0.csv
104  2824  chunk_0.csv
105  2902  chunk_0.csv
106  2936  chunk_0.csv

[107 rows x 2 columns]
(107, 8)
chunk_1.csv
df_chunk shape: (3018, 5)
df is:        id         file
107  1013  chunk_1.csv
108  1225  chunk_1.csv
109  1233  chunk_1.csv
110  1234  chunk_1.csv
111  1235  chunk_1.csv
..    ...          ...
205  2932  chunk_1.csv
206  2941  chunk_1.csv
207  2942  chunk_1.csv
208  2943  chunk_1.csv
209  2954  chunk_1.csv

[103 rows x 2 columns]
(103, 8)
chunk_2.csv
df_chunk shape: (3018, 5)
df is:        id         file
210   661  chunk_2.csv
211  1262  chunk_2.csv
212  1264  chunk_2.csv
213  1267  chunk_2.csv
214  1272  chunk_2.csv
..    ...          ...
299  2428  chunk_2.csv
300  2521  chunk_2.csv
301  2595  chunk_2.csv
302  2596  chunk_2.csv
303  2597  chunk_2.csv

[94 rows x 2 columns]
(94, 8)
chunk_3.csv
df_chunk shape: (3018, 5)
df is:        id         file
304   246  chunk_3.csv
305   756  chunk_3.csv
306   788  chunk_3.csv
307   827  chunk_3.csv
308  1222  chunk_3.csv
..    ...          ...
406  2821  chunk_3.csv
407  2829  chunk_3.csv
408  2830  chunk_3.csv
409  2831  chunk_3.csv
410  2834  chunk_3.csv

[107 rows x 2 columns]
(107, 8)
chunk_4.csv
df_chunk shape: (3018, 5)
df is:        id         file
411   100  chunk_4.csv
412   544  chunk_4.csv
413  1241  chunk_4.csv
414  1242  chunk_4.csv
415  1244  chunk_4.csv
..    ...          ...
496  2787  chunk_4.csv
497  2789  chunk_4.csv
498  2790  chunk_4.csv
499  2856  chunk_4.csv
500  2869  chunk_4.csv

[90 rows x 2 columns]
(90, 8)
chunk_5.csv
df_chunk shape: (3018, 5)
df is:        id         file
501   108  chunk_5.csv
502   763  chunk_5.csv
503  1011  chunk_5.csv
504  1050  chunk_5.csv
505  1258  chunk_5.csv
..    ...          ...
600  2547  chunk_5.csv
601  2635  chunk_5.csv
602  2637  chunk_5.csv
603  2692  chunk_5.csv
604  2819  chunk_5.csv

[104 rows x 2 columns]
(104, 8)
chunk_6.csv
df_chunk shape: (3018, 5)
df is:        id         file
605   176  chunk_6.csv
606   261  chunk_6.csv
607  1083  chunk_6.csv
608  1263  chunk_6.csv
609  1269  chunk_6.csv
..    ...          ...
696  2527  chunk_6.csv
697  2528  chunk_6.csv
698  2609  chunk_6.csv
699  2612  chunk_6.csv
700  3001  chunk_6.csv

[96 rows x 2 columns]
(96, 8)
chunk_7.csv
df_chunk shape: (3018, 5)
df is:        id         file
701  1261  chunk_7.csv
702  1263  chunk_7.csv
703  1264  chunk_7.csv
704  1267  chunk_7.csv
705  1270  chunk_7.csv
..    ...          ...
778  2821  chunk_7.csv
779  2823  chunk_7.csv
780  2828  chunk_7.csv
781  2832  chunk_7.csv
782  2837  chunk_7.csv

[82 rows x 2 columns]
(82, 8)
chunk_8.csv
df_chunk shape: (3018, 5)
df is:        id         file
783   587  chunk_8.csv
784   699  chunk_8.csv
785   763  chunk_8.csv
786  1236  chunk_8.csv
787  1238  chunk_8.csv
..    ...          ...
892  2788  chunk_8.csv
893  2799  chunk_8.csv
894  2800  chunk_8.csv
895  2854  chunk_8.csv
896  2948  chunk_8.csv

[114 rows x 2 columns]
(114, 8)
chunk_9.csv
df_chunk shape: (3027, 5)
df is:        id         file
897   231  chunk_9.csv
898   477  chunk_9.csv
899   924  chunk_9.csv
900  1250  chunk_9.csv
901  1254  chunk_9.csv
..    ...          ...
978  2849  chunk_9.csv
979  2855  chunk_9.csv
980  2885  chunk_9.csv
981  2887  chunk_9.csv
982  2897  chunk_9.csv

[86 rows x 2 columns]
(86, 8)

,Titel_Autor,Autorenvorname,RASignatur,Beginnt mit,Volltext,index,id,file
0,FREIHANDELSASSOZIATION,NaN,94544,A,"FreihandeleasBoziationFreihandelsassoziation, ...",64,64,chunk_0.csv
1,KILLER,JAKOB,NaN,A,"Killer, Jakobs. Gonnella,Giancarlo. Unte...",831,831,chunk_0.csv
2,FRITSCH,ALBERT,NaN,A,"Fritscb Â»AlbertFritsch,Albert. Die Lebensversi...",1262,1262,chunk_0.csv
3,FRITSCHI,RACHEL,NaN,NaN,"Ã¼'ritschi , Kachels, VolkszÃ¤hlun...",1264,1264,chunk_0.csv
4,FRITZ,ERNST,1520,A,"Fritz, Ernst\tâ€¢ <#Â£ &&FritZjErnst. Die...",1266,1266,chunk_0.csv
...,...,...,...,...,...,...,...,...
978,WEILENMANN,GOTTFRIED,91403/13,NaN,"Vieilenmann, Gottfried Weilenmann,Gottfried. G...",2849,2849,chunk_9.csv
979,WEILENMANN,PAUL,84046,A,"Weilenmann , Faul Weilemaann, Paul, ...",2855,2855,chunk_9.csv
980,WEISBACH,FRANZ,7804,A,"Weisbach .Franz Yeistoaoh,Franz, Bauakustik;...",2885,2885,chunk_9.csv
981,WEISFLOG,H.,1210,A,"Weisflog, H Weisflog,H Rechtspflege-Ge...",2887,2887,chunk_9.csv
982,WEISS,DIMITRI,93296,NaN,"ffeiss.Dimitrl Weiss, Dimitri . Communicatio...",2897,2897,chunk_9.csv

In [74]:
final_missing.to_csv("final_missing_rows.csv", index=False)